# Virtual environments
venv/
*/venv/

# Python cache
__pycache__/
*.pyc

# Logs and results
logs/
results/

# System files
.DS_Store
Thumbs.db
# Node
node_modules/
*/node_modules/

# Expo
.expo/
*/.expo/
# Dataset
Fake.csv
True.csv
*/Fake.csv
*/True.csv

# Executables
*.exe

# Text duplicates
*.txt

# Model weights (optional if large)
*.safetensors
*.bin
